@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  html, body {
    font-family: 'Montserrat';
    scroll-behavior: smooth;
    scroll-snap-type: y proximity;
  }

  ::selection {
    @apply dark:bg-secondary-500 dark:text-secondary-900 bg-primary-600 text-primary-50
  }

  ::-webkit-scrollbar {
    @apply dark:bg-secondary-800 bg-primary-700 w-2
  }

  ::-webkit-scrollbar-thumb {
    @apply dark:bg-secondary-400 bg-primary-300 active:dark:bg-secondary-500 hover:dark:bg-secondary-500  
    active:bg-primary-400 hover:bg-primary-400
  }

}